@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    transition: all 0.2s;
}
.slide-left-enter-from {
    opacity: 0;
    transform: translate(50px, 0);
}
.slide-left-leave-to {
    opacity: 0;
    transform: translate(-50px, 0);
}
.slide-right-enter-from {
    opacity: 0;
    transform: translate(-50px, 0);
}
.slide-right-leave-to {
    opacity: 0;
    transform: translate(50px, 0);
}

.content-card {
    @apply rounded-xl shadow-lg bg-gray-50 dark:bg-[#111924] my-2 px-6 py-8;
}