name: Build and Deploy Sprout app to Dev EC2 via GHCR

on:
  push:
    branches:
      - dev
env:
  NODE_ENV: production
  BASE_API_URL: '${{ vars.DEV_BASE_API_URL }}'
  SESSION_PASSWORD: '${{ secrets.SESSION_PASSWORD }}'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and Tag Docker Image
        run: |
          docker build \
          --build-arg BASE_API_URL=$DEV_BASE_API_URL \
          --build-arg SESSION_PASSWORD=$SESSION_PASSWORD \
          -t ghcr.io/${{ github.repository_owner }}/sprout-app:dev .

      - name: Push Docker Image to GHCR
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/sprout-app:dev

      - name: Save Docker image as artifact
        run: docker save ghcr.io/${{ github.repository_owner }}/sprout-app:dev -o sprout-app-dev.tar

      - name: Upload Docker image artifact
        uses: actions/upload-artifact@v3
        with:
          name: sprout-app-dev
          path: sprout-app-dev.tar

  deploy-to-dev-ec2:
    needs: [ build-and-push ]
    runs-on: ubuntu-latest

    steps:
      - name: Set Up SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Pull Docker Image on Dev EC2 and Restart Container
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ${{ secrets.EC2_USER }}@${{ secrets.DEV_EC2_HOST }} << 'EOF'
            echo "${{ secrets.GHCR_TOKEN }}" | sudo docker login ghcr.io -u ${{ github.actor }} --password-stdin
            sudo docker pull ghcr.io/${{ github.repository_owner }}/sprout-app:dev
            sudo docker stop sprout-dev || true
            sudo docker rm sprout-dev || true
            sudo docker run -d  --name sprout-dev \ 
                -e NODE_ENV=production \
                -e BASE_API_URL=${{ vars.DEV_BASE_API_URL }} \
                -e SESSION_PASSWORD=${{secrets.SESSION_PASSWORD}} \
                -p 3000:3000 ghcr.io/${{ github.repository_owner }}/sprout-app:dev
          EOF